<nav id="menu">
  <a class="close-button">Close</a>
  <div class="nav-wrapper">
    <p class="nav-label">Menu</p>
    <ul>
      {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in pages %}
              <li{% if p == page %} class="nav-{{p.slug}} active"{% endif %} role="presentation"><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}
      {% else %}
          {% if DISPLAY_CATEGORIES_ON_MENU %}
              {% for cat, null in categories %}
                  <li{% if cat == category %} class="nav-{{cat.slug}} active"{% endif %} role="presentation"><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
              {% endfor %}
          {% endif %}
      {% endif %}

      {% for title, link in MENUITEMS %}
          <li><a href="{{ link }}" role="presentation">{{ title }}</a></li>
      {% endfor %}

      {% for name,link in SOCIAL if name in ['rss', 'rss-square', 'feed'] %}
        <li class="nav-rss"><a href="{{ link }}"><i class="ic ic-rss"></i> Subscribe</a></li>
      {% endfor %}
    </ul>
  </div>
</nav>
